---
const { project } = Astro.props;
import { Icon } from 'astro-icon/components'

---

<div class="p-5 dark:bg-black/10 bg-black/5 shadow rounded-2xl">
    <p class="mb-5 text-2xl font-bold">{project.data.title}</p>
    <hr class="mb-2">
    <p class="mb-5">{project.data.description}</p>
    <a class="hover:text-blue-400 transition-colors" href={project.data.repoLink}>
        <Icon class="inline align-middle relative bottom-0.5" name="fa6-brands:square-github"/>
        GitHub</a>
</div>