
/**----------------------
 *    Base
 *------------------------**/

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#site-main {
    flex: 1;
}

.base-container {
    padding: 20px;
}


 /**----------------------
  *    Navbar
  *------------------------**/

#site-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site-title {
    margin: 0;
}

.navbar {
    width: 100%;
}

#site-navbar.hidden .navbar-list {
    display: none;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.navbar-link {
    padding: 10px;
    text-align: right;
    display: inline-block;
}

.navbar-toggle {
    height: fit-content;
    width: fit-content;
    font-size: 1.5em;
}

@media screen and (min-width: 600px) {
    .navbar-toggle {
        display: none;
    }

    #site-navbar.hidden .navbar-list {
        display: flex;
    }    

    .navbar {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .navbar-list {
        flex-direction: row;
        gap: 25px;
        align-items: end;
    }
}

/**----------------------
 *    Footer
 *------------------------**/

.footer-flex {
    display: flex;
    justify-content: left;
    padding-top: 10px;
    flex-wrap: wrap;
}

.footer-flex > * {
    margin-right: 25px;
    flex: 1 0 1;
    
}

.footer-span {
    width: 100%;
}