/**--------------------------------------------
 *               Base
 *---------------------------------------------**/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#site-main {
    flex: 1;
}

.base-container {
    padding: 20px;
}

/**--------------------------------------------
 *               Header
 *---------------------------------------------**/

#site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/**----------------------
 *    Title
 *------------------------**/

.site-title {
    margin: 0;
}

/**----------------------
 *    Navbar Toggle
 *------------------------**/

 /* Hidden by default */
.navbar-toggle {
    display: none;
}

/**----------------------
 *    Navbar
 *------------------------**/

.navbar {
    display: flex;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 25px;
}

.navbar-link {
    padding: 10px;
    display: inline-block;
}

/**----------------------
 *    Small Screens
 *------------------------**/

@media screen and (max-width: 600px) {
    /* Hide list when set to hidden */
    #site-navbar-list.hidden {
        display: none;
    }

    .navbar-list {
        transition: all 0.5s;
    }

    /* Show the toggle button */
    .navbar-toggle {
        display: block;
        height: fit-content;
        width: fit-content;
        font-size: 1.5em;
    }

    /* Navbar spans entire width so it jumps to newline */
    .navbar {
        width: 100%;
    }

    /* Navbar list is now a column */
    .navbar-list {
        width: 100%;
        flex-direction: column;
        align-items: end;
        margin-top: 10px;
        gap: 10px;
    }
}

/**--------------------------------------------
 *               Footer
 *---------------------------------------------**/

.footer-flex {
    display: flex;
    justify-content: left;
    padding-top: 10px;
    flex-wrap: wrap;
}

.footer-flex > * {
    margin-right: 25px;
    flex: 1 0 1;
}

.footer-span {
    width: 100%;
}
