@media (prefers-color-scheme: dark) {
    :root {
        --color-foreground: rgb(204, 204, 204);
        --color-background: rgb(40, 44, 52);
        --color-accent: rgb(0, 149, 218);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-foreground: rgb(0, 0, 0);
        --color-background: rgb(255, 255, 255);
        --color-accent: rgb(0, 149, 218);
    }
}

/**--------------------------------------------
 *               General
 *---------------------------------------------**/

html {
    font-family: Open Sans, sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/**--------------------------------------------
 *               Specific
 *---------------------------------------------**/

/**----------------------
 *    Header
 *------------------------**/

#site-header {
    border-bottom: 2px solid var(--color-foreground)
}

.navbar-toggle {
    border: none;
    background-color: transparent;
    border-radius: 10px;
    color: var(--color-foreground);
}

.navbar-link {
    color: var(--color-foreground);
}

/**----------------------
 *    Footer
 *------------------------**/

 #site-footer {
    border-top: 2px solid var(--color-foreground)
 }

