/**--------------------------------------------
 *               Theming
 *---------------------------------------------**/

@media (prefers-color-scheme: dark) {
    :root {
        --color-foreground: rgb(204, 204, 204);
        --color-background: #282c34;
        --color-accent: #0095da;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-foreground: rgb(0, 0, 0);
        --color-background: rgb(255, 255, 255);
        --color-accent: rgb(0, 149, 218);
    }
}

/**--------------------------------------------
 *               General
 *---------------------------------------------**/

html {
    font-family: Open Sans, sans-serif;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.unbulleted {
    list-style-type: none;
    padding-left: 0;
}

.icon-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.icon-list > li {
    display: flex;
    align-items: center;
}

.icon-list .icon {
    font-size: 1.25em;
    color: var(--color-foreground);
    margin-right: 10px;
}

/**--------------------------------------------
 *               Header
 *---------------------------------------------**/

#site-header {
    border-bottom: 2px solid var(--color-foreground);
}

.navbar-toggle {
    border: none;
    background-color: transparent;
    border-radius: 10px;
    color: var(--color-foreground);
}

.navbar-link {
    color: var(--color-foreground);
}

/**--------------------------------------------
 *               Footer
 *---------------------------------------------**/

#site-footer {
    border-top: 2px solid var(--color-foreground);
}

.copyright-text {
    font-style: italic;
}
