<footer class="base-container" id="site-footer">
    <div class="footer-flex">
        {% if config.contact %}
        <div>
            <ul>
                {% if config.contact.name %}
                <li>{{ config.contact.name }}</li>
                {% endif %}
        
                {% if config.contact.email %}
                <li><a href="mailto:{{ config.contact.email }}">{{ config.contact.email }}</a></li>
                {% endif %}
                {% if config.contact.location %}
                <li>{{ config.contact.location }}</li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        {% if config.links %}
        <div>
            <ul>
                {% if config.links.github %}
                <li><a href="{{ config.links.github}}">GitHub</a></li>
                {% endif %}
                {% if config.links.linkedIn %}
                <li><a href="{{ config.links.linkedIn}}">LinkedIn</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        
        {% if config.description %}
        <div><p>{{ config.description }}</p></div>
        {% endif %}
    </div>

    {% if config.copyright %}
    <div class="footer-span"><p>{{ config.copyright | safe }}</p></div>
    {% endif %}
</footer>