@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@300;400&display=swap");
/* ----------------------------- Main Page Structure (Nav, Header, Main etc) ----------------------------- */
*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section, section > * {
  margin: 0.5rem;
}

.title-container {
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  flex: 1;
}

.nav-link {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.flex-box > * {
  flex: 1;
}

.flex-box-header {
  flex: 1 0 100%;
  margin-bottom: 0.5rem;
}

.panel > * {
  margin: 0.5rem;
}

.button {
  padding: 1rem;
}

footer {
  padding: 0.25rem;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* ------------------------------- Page Style ------------------------------- */
header {
  background-color: #c0ac92;
}

.title {
  letter-spacing: 0.25rem;
}

.title, .subtitle {
  color: #3a3838;
}

footer {
  background-color: #e5ddd3;
}

.nav-link,
.button {
  text-decoration: none;
  background-color: #e5ddd3;
  color: inherit;
}

.nav-link:hover,
.button:hover {
  transition: background-color 350ms;
  background-color: #d3c5b2;
}

.nav-link.selected {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-decoration-color: #a19d9d;
}

.panel {
  border-style: solid;
  border-color: #7b7777;
  border-width: 2px;
  background-color: #f4f1ec;
}

/* ---------------------------------- Fonts --------------------------------- */
html {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}