/* ----------------------------- Main Page Structure (Nav, Header, Main etc) ----------------------------- */
*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 0.5rem;
  margin: 0.5rem;
}

.title-container {
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  flex: 1;
}

.nav-link {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0.5rem;
  flex: 1;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.flex-box > * {
  flex: 1;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.section-box-title {
  flex: 1 0 100%;
}

footer {
  display: table;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0.5rem;
}

/* ------------------------------- Page Style ------------------------------- */
header {
  background-color: #c0ac92;
}

.title {
  letter-spacing: 0.25rem;
  color: #4e402d;
}

footer {
  background-color: #c0ac92;
}

.nav-link,
.button {
  text-decoration: none;
  background-color: #e5ddd3;
  color: inherit;
}

.nav-link:hover,
.button:hover {
  transition: 350ms;
  background-color: #d3c5b2;
}

.nav-link.selected {
  text-decoration: underline;
}

.section-box {
  border-style: solid;
  border-color: #c0ac92;
  border-width: 6px;
  border-radius: 8px;
}

/* ---------------------------------- Fonts --------------------------------- */
html {
  font-family: "Courier New", Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}