---
import { Image } from 'astro:assets';
import profileImage from "@images/profile-img.jpg"
import SiteWrapper from '@components/SiteWrapper.astro';
import { Icon } from 'astro-icon/components'
import site from "@data/site.json"

---

<div class="bg-black/10">
    <SiteWrapper>
        <div class="flex justify-between my-5 flex-wrap gap-5">
            <div class="grow basis-0 min-w-[300px] flex flex-col gap-5 justify-between">
                <div>
                    <h2 class="text-4xl mb-2">Sam Maughan</h2>
                    <p class="mb-2">  
                        Junior Software Engineer and Musician
                    </p>
                    <p class="mb-2">
                        Creative Problem Solver, Agile Thinker, Collaborative Developer
                    </p>
                </div>
                
                <div class="flex gap-5">
                    <a class="button shrink-0" href={site.contact.links.github}>
                        <Icon class="icon" name="fa6-brands:square-github"/>
                        GitHub
                    </a>
                    <a class="button shrink-0" href={site.contact.links.linkedIn}>
                        <Icon class="icon" name="fa6-brands:linkedin"/>
                        LinkedIn
                    </a>
                    <a class="button shrink-0" href={"mailto:" + site.contact.email}>
                        <Icon class="icon" name="fa6-regular:envelope"/>
                        Email
                    </a>
                </div>
            </div>
            
            <Image width={200} class="rounded-2xl" src={profileImage} alt="A profile image"/>
        </div>
    </SiteWrapper>
</div>