{% extends "layouts/base.html" %} 
{% block content %}
<h2>{{ title }}</h2>
{{ content | safe }}
{% if collections.composition %}
<ul class="page-list">
    {%- for composition in collections.composition -%}
    <li class="page-list-item">
        <a href="{{composition.url}}">
            <figure class="page-list-figure">
                <figcaption>{{ composition.data.title }}</figcaption>
                <p> {{composition.data.description}} </p>
            </figure>
        </a>
    </li>
    {%- endfor -%}
</ul>
{% endif %}

{% endblock %}