---
import AboutHero from '@components/hero/AboutHero.astro';
import SiteWrapper from '@components/SiteWrapper.astro';
import Layout from '@layouts/MainLayout.astro';
---

<Layout pageTitle="About Me">
	<AboutHero/>
	<SiteWrapper>
		<p class="my-5">I am a Junior Software Developer who works with a variety of tech stacks. I am familiar with a range of languages including C#, Python, JavaScript and TypeScript. I also have experience developing full-stack web apps using frameworks including ASP.NET Core, Blazor and React.</p>
		<p class="my-5">I also like to compose music in my spare time. You can check out some of my compositions on this site!</p>
	</SiteWrapper>
</Layout>
