---
import Layout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const compositions = await getCollection('compositions');

---

<Layout pageTitle="Music">
	{compositions && (
		<ul>
			{compositions.map(obj => (
				<li>{obj.data.title}</li>
			))}
		</ul>
	)}
</Layout>
