---
import CompositionCard from '@components/compositions/CompositionCard.astro';
import Layout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const compositions = await getCollection('compositions');

---

<Layout pageTitle="Music">
	{compositions && (
		<ul class="flex flex-col gap-5">
			{compositions.map(obj => (
				<li>
					<CompositionCard composition={obj}/>
				</li>
			))}
		</ul>
	)}
</Layout>
