---
import ProjectCard from '@components/projects/ProjectCard.astro';
import Layout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');

---

<Layout pageTitle="Projects">
	{projects && (
		<ul class="flex flex-col gap-5">
			{projects.map(obj => (
				<li>
					
				</li>
				<ProjectCard project={obj}/>
			))}
		</ul>
	)}
</Layout>
