---
import Layout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
const pageTitle = "Projects"
const projects = await getCollection('projects');

---

<Layout pageTitle={pageTitle}>
	{projects && (
		<ul>
			{projects.map(obj => (
				<li><a href={obj.data.repoLink}>{obj.data.title}</a></li>
			))}
		</ul>
	)}
</Layout>
