---
import site from "@data/site.json"
---

<a href="/">
    <div class="transition-colors hover:bg-gray-100 active:bg-gray-100 dark:active:bg-slate-600 dark:hover:bg-slate-600 rounded-2xl inline-block p-3">
        <h1 class="text-2xl font-light">{site.title}</h1>
    </div>
</a>