---
import Wrapper from "@components/SiteWrapper.astro";
import Nav from "./nav/Nav.astro";
---

<header class="shadow-2xl">
    <Wrapper>
        <h1>My Personal Site</h1>
        <Nav/>
    </Wrapper>
</header>