---
import Wrapper from "@components/SiteWrapper.astro";
import Nav from "./nav/Nav.astro";
import SiteHeaderBrand from "./SiteHeaderBrand.astro";
---

<header class="shadow-2xl">
    <Wrapper>
        <div class="flex justify-between">
            <SiteHeaderBrand/>
            <Nav/>
        </div>
    </Wrapper>
</header>