---
import { Icon } from 'astro-icon/components'
---

<button
    type="button"
    class="darkmodeToggle block cursor-pointer active:bg-gray-300 hover:bg-gray-300 p-3 rounded-2xl transition-colors dark:active:bg-slate-600 dark:hover:bg-slate-600"
>
    <Icon name="heroicons:sun" class="size-6 not-dark:hidden text-white"></Icon>
    <Icon name="heroicons:moon" class="size-6 dark:hidden"></Icon>
</button>


<script>
    
    // Add to astro page load listener, to work with routing
    document.addEventListener('astro:page-load', () => {

        const darkmodeToggles = document.querySelectorAll(".darkmodeToggle");

        darkmodeToggles.forEach((toggle) => {
            toggle.addEventListener("click", () => {
                if (localStorage.currentTheme === "light") {
                    console.log("Toggling dark mode");
                    localStorage.currentTheme = "dark";    
                } else {
                    console.log("Toggling light mode");
                    localStorage.currentTheme = "light";
                }
                document.documentElement.classList.toggle("dark");
            });
        });
    });
</script>