---
import NavLink from "./NavLink.astro"
import { getCollection } from 'astro:content';

const navlinks = await getCollection('navlinks');
const currentPath = new URL(Astro.request.url).pathname;

---

<nav>
    {navlinks.map(obj => {
        return (
            <NavLink href={obj.data.href} isActive={obj.data.href === currentPath ? true : false}>{obj.data.title}</NavLink>
        )
    })}
</nav>