---
import SiteFooter from "@components/site-footer/SiteFooter.astro"
import SiteHeader from "@components/site-header/SiteHeader.astro"
import SiteWrapper from "@components/SiteWrapper.astro"
import { ClientRouter } from 'astro:transitions';
import "@styles/global.css"

const { pageTitle } = Astro.props 
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<ClientRouter />
		<!-- Get light and dark system preference and update local storage -->
		<script is:inline>
			function applyTheme() {
				document.documentElement.classList.toggle(
                "dark",
                localStorage.currentTheme === "dark" ||
                    (!("theme" in localStorage) &&
                        window.matchMedia("(prefers-color-scheme: dark)")
                            .matches)
            	);
			}

			// Add to astro swap event listener, to work with routing
			// and prevent flashing on page load
			document.addEventListener('astro:after-swap', applyTheme);
			applyTheme();
        </script>
		<meta name="generator" content={Astro.generator} />
		<title>My Personal Site | { pageTitle }</title>
	</head>
	<body class="dark:bg-slate-700 dark:text-slate-200 flex flex-col h-screen justify-between">
		<SiteHeader/>
		
			<main class="mb-auto">
				<SiteWrapper>
					<slot />

				</SiteWrapper>
			</main>
		<SiteFooter/>
	</body>
</html>
