---
import SiteFooter from "@components/site-footer/SiteFooter.astro"
import SiteHeader from "@components/site-header/SiteHeader.astro"
import SiteWrapper from "@components/SiteWrapper.astro"
import "@styles/global.css"

const { pageTitle } = Astro.props 
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>My Personal Site | { pageTitle }</title>
	</head>
	<body>
		<SiteHeader/>
		<SiteWrapper>
			<slot />
		</SiteWrapper>
		<SiteFooter/>
	</body>
</html>
